# This is a requirements file that should work as a basis to run the scripts
# No versions to get the most up-to-date packages, but they could be added.
chart-studio
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-table-experiments
Flask
Flask-Caching
Flask-Compress
future
ipykernel
ipython
Jinja2
jsonable
jsonschema
jupyter-client
jupyter-core
kiwisolver
lxml
matplotlib
mwapi
mwcli
mwtypes
mwviews
mwxml
mysql
mysqlclient
nbconvert
nbformat
notebook
numpy
orderedmultidict
pandas
para
parso
plotly
protobuf
python-dateutil
pytz
pywikibot
PyYAML
pyzmq
query-string
redis
requests
retrying
reverse-geocoder
scikit-learn
scipy
seaborn
selenium
simplegeneric
six
sklearn
soupsieve
tensorboard
tensorflow
termcolor
terminado
testpath
urllib3
uWSGI
waitress
wcwidth
webencodings
Werkzeug
widgetsnbextension
wiki-dump-parser
wikipedia
XlsxWriter
